In [69]:
import numpy as np

# 10~20 사이의 정수를 임의로 생성
np.random.randint(10, 20)

10

In [46]:
rd_list = []
for i in range(10):
    rd_list.append(np.random.randint(0, 51))
    
print(rd_list)

[18, 41, 6, 45, 9, 27, 44, 47, 32, 2]

In [ ]:
 words 데이터에서 글자수가 4개 이상인 데이터를 찾아 출력

In [50]:
words = ["멀티캠퍼스" ,"티스토리", "블로그", "파이썬", "for", "프로그래밍", "반복"]
new_words = []

for word in words:
    if len(word) > 3:
        new_words.append(word)
        
print(new_words)

['멀티캠퍼스', '티스토리', '프로그래밍']

In [62]:
new_words= [word for word in words if len(word) >3 ]
print(new_words)

['멀티캠퍼스', '티스토리', '프로그래밍']

In [75]:
np.random.randint(1, 2)

1

In [86]:
words = [ [ "이중 for문", "파이썬", "프로그래밍", "스터디" ], 
[ "Python", "NLP", "ML", "DL" ], [ "leetCode", "BaekJoon", "HackerRank" ], 
[ "멀티캠퍼스", "COMPAS", "DACON", "Kaggle" ] ]

new_words  = []
for each_word_lst in words:
    for word in each_word_lst:
        if len(word) > 3:
            new_words.append(word)
            
print(new_words)

['이중 for문', '프로그래밍', 'Python', 'leetCode', 'BaekJoon', 'HackerRank', '멀티캠퍼스', 'COMPAS', 'DACON', 'Kaggle']

In [89]:
a = np.random.randint(51, size=10)

요구사항: 리스트 개체를 생성하는 코드를 작성해주세요
리스트 개체는 총 5개의 리스트 요소를 가지고 있고 각 리스트 요소마다 10에서 20개 사이의 값을 가지고 있습니다.
이 값은 0 ~ 50 사이의 임의의 값으로 만들어져 있습니다.
[[0, 24, 3, ..20], [44, 14, 8, ..10], [0, 3, 12, ..13], [49, 24, 13, ..15], [0, 24, 3, ..17]]
문제 해결 알고리즘
10~20 size 발생: random.randint(10, 21) ==> size
0~50 사이값 발생: random.randint(0, 51, size=10-20)
리스트 인수 5개 생성: for i range(5)

In [94]:
import numpy as np

rd_lst=[]
for i in range(5) :
    rd_lst.append(np.random.randint(0,51,size=np.random.randint(10,21)))
    
print(rd_lst)

[array([47, 27, 31, 25, 44, 17, 22, 39, 19,  5, 37]), array([ 0, 44,  2, 46, 17, 29, 26, 20, 13, 45, 17, 24, 31, 22, 15, 13, 44,
       10]), array([35, 19, 29,  9, 14, 10, 45, 11, 39, 33, 23, 15,  3,  1, 10, 50, 43,
       17]), array([ 4, 21, 44, 12, 29,  6, 42, 22, 26, 31, 49, 19, 41, 32]), array([ 8, 42, 38, 50, 26, 50, 21, 14, 21, 39, 44, 50, 17, 46, 13,  8])]

In [105]:
rd_lst=[list(np.random.randint(0,51,size=np.random.randint(10,21))) for i in range(5)]
rd_lst

[[48, 1, 49, 20, 6, 40, 8, 36, 2, 16, 16, 39, 15],
 [39, 46, 39, 1, 4, 16, 49, 37, 45, 6, 26, 14, 28],
 [0, 21, 30, 24, 49, 18, 20, 49, 4, 7, 5, 26, 37],
 [34, 2, 28, 47, 10, 1, 22, 26, 30, 31, 26, 42, 16, 15, 45, 9, 48],
 [13, 20, 9, 37, 28, 16, 17, 2, 7, 22, 21, 39, 14, 27]]

In [136]:
# 배열 내 최대값 구하기
data=[34, 23, 20, 43, 1, 5, 2, 14, 18, 24, 40, 18, 38, 4, 3, 22, 43, 6, 36, 13]
sumdata = 0
for dt in data:
    sumdata += dt
print(sumdata)

407

In [160]:
rd_lst

[[48, 1, 49, 20, 6, 40, 8, 36, 2, 16, 16, 39, 15],
 [39, 46, 39, 1, 4, 16, 49, 37, 45, 6, 26, 14, 28],
 [0, 21, 30, 24, 49, 18, 20, 49, 4, 7, 5, 26, 37],
 [34, 2, 28, 47, 10, 1, 22, 26, 30, 31, 26, 42, 16, 15, 45, 9, 48],
 [13, 20, 9, 37, 28, 16, 17, 2, 7, 22, 21, 39, 14, 27]]

In [156]:
mxdata = rd_lst[0][0]
for dat in rd_lst:
    for i in dat:
        if i >  mxdata :
            mxdata = i
print(mxdata)

49

In [168]:
lst = 	[[48, 1, 49, 20, 6, 40, 8, 36, 2, 16, 16, 39, 15],
		[39, 46, 39, 1, 4, 16, 49, 37, 45, 6, 26, 14, 28],
        [0, 21, 30, 24, 49, 18, 20, 49, 4, 7, 5, 26, 37],
		[34, 2, 28, 47, 10, 1, 22, 26, 30, 31, 26, 42, 16, 15, 45, 9, 48],
		[13, 20, 9, 37, 28, 16, 17, 2, 7, 22, 21, 39, 14, 27]]

mxdata = lst[0][0]
for dat in lst:
    for i in dat:
        if i >  mxdata :
            mxdata = i
print(mxdata)

mndata = lst[0][0]
for dat in lst:
    for i in dat:
        if i <  mndata :
            mndata = i
print(mndata)

sumdata = 0
for dat in lst:
    for i in dat:
        sumdata += i
print(sumdata)

49
0
1640

In [170]:
print(f'최대값:{mxdata}, 최소값:{mndata}, 합계:{sumdata}')

최대값:49, 최소값:0, 합계:1640

In [173]:
rd_lst=[list(np.random.randint(0,51,size=np.random.randint(10,21))) for i in range(5)]
rd_lst

[[6, 35, 1, 18, 29, 1, 18, 17, 11, 19, 11, 5],
 [43, 47, 25, 10, 5, 0, 22, 18, 4, 6, 14, 49, 29, 38, 22, 0, 31],
 [44, 48, 40, 32, 27, 30, 7, 10, 44, 46, 48, 13, 21, 14, 32],
 [39, 39, 42, 30, 49, 21, 45, 19, 18, 8, 3, 3, 28, 28],
 [43, 38, 25, 27, 25, 45, 10, 31, 40, 39, 24, 2, 19, 16, 3]]

In [195]:
G_lst=[]
Tot_lst=[0, rd_lst[0][0], rd_lst[0][0]]

for I in range(len(rd_lst)):
    group_lst = [0, rd_lst[i][0], rd_lst[i][0]]
    for data in rd_lst[i]:
        group_lst[0] += data
        
        if data > group_lst[1]:
            group_lst[1] = data
            
        if data < group_lst[2]:
            group_lst[2] = data
        
        Tot_lst[0] += data
        
        if data > Tot_lst[1]:
            Tot_lst[1] = data
            
        if data < Tot_lst[2]:
            Tot_lst[2] = data
    
    print(group_lst)
            
print(f'전체 합계:{Tot_lst[0]}, 전체 최대:{Tot_lst[1]}, 전체 최소:{Tot_lst[2]}')

[372, 49, 3]
[372, 49, 3]
[372, 49, 3]
[372, 49, 3]
[372, 49, 3]
[372, 49, 3]
전체 합계:1860, 전체 최대:49, 전체 최소:3